@import "Normalize.css";
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap');
/* /Fonts* */

body {
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    color: #616161;
}
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

[class*="__container"] {
    max-width: 1057px;
    margin: 0 auto;
}

.main {
    flex: 1 1 auto;
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;

}
.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;
}
.header__logo {
}
.header__menu {
    flex: 1 1 auto;
}
.header__button {
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
}

.menu {
    display: flex;
    justify-content: flex-end;
}
.menu__list {
    display: flex;
}
.menu__item {
    margin: 0 40px 0 0;
}
.menu__link {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #000000;
}

.button {
    display: inline-block;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #FCFDFE;
    padding: 14px 30px;
    border-radius: 5px;
    background-color: #EC5863;
    transition: background-color 0.3s ease 0s;
}
.button:hover {
    background-color: #f37a82;
}
.button_blue {
    background-color: #4285F4;
}
.button_blue:hover {
    background-color: #70a3f7;
}
