@import "Normalize.css";
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap');
/* /Fonts* */

body {
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    color: #616161;
}
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

[class*="__container"] {
    max-width: 1057px;
    margin: 0 auto;
}

.main {
    flex: 1 1 auto;
}

